
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:cyan; left:200px; top:200px;}
    75%  {background-color:lightgreen; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

@keyframes word{ 
    0% {content: "Programmer";}
    25% {content: "Designer";}
    50% {content: "Artist";}
    75% {content: "Web Developer";}  
    100% {content: "Programmer";}
}

@keyframes rightsideanimation{ 
  0%{ 
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0); 
  }
}

@keyframes leftsideanimation{ 
  0%{ 
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0); 
  }
}

@keyframes zoomAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(1.10); }
}

.zoom-animation { 
  animation: zoomAnimation 1s;
}

.dark-mode {
  background-color: #121212;
  color: white;
}


.dark-mode .WhackContainer,
.dark-mode .ChatContainer {
  background-color: #222;
  border-color: white;
}


body{ 
  cursor:url('images/swordcursor.png'), auto; 
}

#darkmodetoggle{ 
  background-color: light-dark;
}



#headingID{
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}



#headingID::after {
  display: inline-block;
  content: "";
  animation-name: word;
  animation-duration: 5s; 
  animation-iteration-count: infinite;
}



#whack{ 
  font-family: "Courier Prime", serif;
}

#descriptAboutSelf{ 
  font-family: 'Courier New', Courier, monospace;
}

.WhackContainer{ 
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid black; 
    margin: 20px auto; 
    border-radius: 8px; 
    max-width: 80%; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    animation: rightsideanimation 1s ease-out forwards; 
    width: 40%; 
}
.ChatContainer{ 
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid black; 
    margin: 20px auto; 
    border-radius: 8px; 
    max-width: 80%; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    animation: leftsideanimation 1s ease-out forwards; 
    width: 40%; 
}

#whackImage{ 
  width: 20%;
  height: auto;
}

.darkmodecontainer {
}

.label {
  height: 60px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}



