@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:cyan; left:200px; top:200px;}
    75%  {background-color:lightgreen; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

@keyframes word{ 
    0% {content: "Programmer";}
    25% {content: "Designer";}
    50% {content: "Artist";}
    75% {content: "Web Developer";}  
    100% {content: "Programmer";}
}

@keyframes zoomAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(1.10); }
}

.zoom-animation { 
  animation: zoomAnimation 1s;
}

body{ 
  cursor:url('images/swordcursor.png'), auto; 
  
}

#headingID{
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#headingID::after {
  display: inline-block;
  content: "";
  animation-name: word;
  animation-duration: 5s; 
  animation-iteration-count: infinite;
}



#whack{ 
  font-family: "Courier Prime", serif;
}

#descriptAboutSelf{ 
  font-family: 'Courier New', Courier, monospace;
}


.container{ 
  width: 40%; 
  margin-left: auto;
  margin-right: 0;
  padding: 20px; 
  box-sizing: border-box;
}

.whackimagecodecontainer{ 
    float: right;
    max-width: 65%; 
    margin: 0px;
}