@keyframes example {
    0%   {content: "Rishi Sheth"; }
    25%  {content: "System.out.println(" +"Rishi Sheth" +")"; }
    50%  {content: "std::cout << " + "Rishi Sheth"+ "<< std::endl;" ; }
    75%  {}
    100% {}
  }

#headingID{
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}